// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.friends-requestes{

  position: relative;
  display: none;
  width:400px;
  float:left;
  left:815px;
  bottom: 750px;
  background-color: white;
  /*background-color: rgba(248, 140, 93, 0.99);*/
  height: 200px; 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);

}
.image_template7 img{
  width:80px;
  border: 2px solid #FFF;
  bottom: 100px;
}
.request-name{
  font-size: 20px;
  position: relative;
  left:90px;
  bottom: 80px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;


}
.accept{
  font-size: 16px;
  position: relative;
  left:200px;
  bottom:90px;

}
.friend-image-icon img{
  width:40px;
  position: relative;
  left:235px;
  bottom:100px;
}
.ignore{
    font-size: 16px;
  position: relative;
  left:270px;
  bottom:113px;
}
.friends-friends h4{
  position: relative;
  bottom: 100px;
  left: 5px;
  color: #337AB7;
}
.inerse-counts{
  font-size: 20px;
  position: relative;
  bottom: 135px;
  left:70px;
  color: #337AB7;
}
.selected{
font-size: 600px;
position: relative;
left:500px;
}

