// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friends-search h4{
  position: relative;
 float:left;
 font-size: 18px;
 color: white;
 left:380px;
font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

}

#friendship{
  position: relative;
  float: left;
  width:600px;
  border-color: #333;
  height: 35px;
  font-size: 24px;
  background-color: red;
  resize: none;
  background-color: #F5F8FA;
  border: 1px solid #FCEAEC !important;
  left: 400px;
  margin-top: 5px;
  width:40%;

}


.find-me {
  display: none;
  position: relative;
  left:4px;
   background:none!important;
     border:none; 
     padding:0!important;
      cursor: pointer;
      color: #337AB7;
      font-size: 20px;
      font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    
 }

 .friends{
  position: absolute;
  height: 160px;
  width:320px;
  margin: auto;
  top: 40px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);
   left: 550px;
  background-color: white;
 }
 .friends-img img{
  width:120px;
  position: relative;
  left:100px;
 }
 .friend-name{
  position: relative;
 font-size: 16px;
 color:black;
 font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
 font-weight:bold;
 left:110px;
 top: 10px;

 


}

.add-friend{
  bottom: 30px;
  position: relative;
font-size: 16px;
left:10px;
font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
.added-friends{
  position: relative;
  font-size: 20px;
  left:1300px;
  top:-500px;


}
.friends-icon img{
  position: relative;
  width:40px;
  float:left;
  margin-top: 10px;
  left:420px;

}
.image_template5 img{
  position: relative;
 
  width:100px;
  border: 2px solid #FFF;
  position: relative;
  bottom:42px;
 }
 .count{
  font-size: 13px;
  width:25px;
  position: relative;
  top:10px;
  background-color: #E04C4C;
  border-radius: 100px;
  padding-left: 10px;
  left: 20px;
  display: none;
  color: white;
 }