.bar{
  position: absolute;
  margin-top: 0px;
  width:100%;
  height: 60px;
  background-color:white;
  position: fixed;
  z-index: 10;
  background-color:#539BB2;
  box-shadow: 0px 1px 0px rgba(248, 140, 93, 0.29) inset, 0px 0px 0px rgba(248, 140, 93, 0.29) inset, 0px 1px 1px rgba(75, 58, 69, 0.25);
  }
  .middle{
    height: 700px;
    width:800px;
    position: relative;
    left:150px;
   top:100px;
    border: 1px solid #E1E8ED;
   /* background-color: rgba(155, 180, 197, 1);*/
     background-color: white;
   
    

  }
  .log-out{
  font-size: 20px;
  float:right;
  color:white;
  text-decoration: none;
  font-family:"Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  padding:8px;
  margin-top: 10px;
  width:15%;
  margin-right: 0px;
 }

  .image_template2 img{ 
  width:320px;
  float:left;
  margin-top: 25px;
  margin-left:20px;
  border: 1px solid white;
}

.email{
  
  height: 30px;
  width: 30%;
  text-align: center;
  margin-top: 260px;

}
.password {
  height: 30px;
  width: 30%;
  text-align: center;
  margin-top: 10px;

}
  
#new_user {
  text-align: center;
}

.Remeber-me{
  
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #34393D;
  opacity:0.5;
}
.btn.btn-default.submit {

   
   width:30%;
   text-align: center;
   background-color: #F8584E;
   font-family:  ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 15px;
  color: white;
}



.btn.btn-default.forgot_password_button {
	background-color: #F8584E;
	text-align: center;
	width:30%;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 15px;
  margin-top: 10px;
  color:white;
}
.btn.btn-default.sign-up{
	background-color: #F8584E;
	margin-top: 10px;
	width:30%;
	text-align: center;
  font-family:  ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 15px;
  color:white;

}
.sign-up-link-log-in-link{

  float:right;
  font-size: 14px;
  position: relative;
  top:10px;
  right:30px;
  color:#F2514E;
  text-decoration: none;
  font-family:‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
.sign-up-link-log-in-link2{
    float:right;
  font-size: 14px;
  position: relative;
  top:10px;
  right:50px;
  color:#F2514E;
  text-decoration: none;
  font-family:‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.potlock{
  font-size: 20px;
  margin-left: 200px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
.form{
  position: relative;
  margin: auto;
   width: 400px;
   border-radius: 5px;
   right:250px;
   background-color:white;
   height:440px;
   top:500px;


}


.address{
  position: relative;
  width:50px;
  cursor: pointer;
  left:-40px;
  font-size: 25px;
  top:-45px;
  font-weight: normal;
  color: #539BB2;
}
.address:hover{
  color: #555459;
}

.profile-icon img{
 width:300px;
  border-radius: 10px;
  float:left;
  margin-top: -330px;
  margin-left:2px;
}
.modal-header{
  background-color: rgba(248, 140, 93, 0.39);
}
.modal-footer{
    background-color: rgba(248, 140, 93, 0.39);
}
.modal-title{
  color:white;
}
.name{
  position: relative;
  left: 30px;
  line-height: 1;
   color:#23527C;
  font-size: 30px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  top: 40px;
  display: inline;
}
.image-delete{
  position: relative;
  font-weight: 700;
  color:#23527C;
  margin-left: 380px;
  bottom: 20px;
  font-size: 20px;
  float: left;
 
 }
 .map-icon img{

 
  position: relative;
  float:center;

  width:38px;
  cursor: pointer;
  top:-132px;
  left:330px;

  
  
 }
textarea.address-form{
position: relative;
  left: 0px; 
  top: 40px;
  width:250px;
  height: 40px;
  border: 1px solid white;
  color: black;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #F5F8FA;
/* border: 1px solid #E1E8ED;*/
 resize:none;
 font-size: 25px;

}
textarea[placeholder] {
   font-family:"Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; 
   font-size: 14px;
  outline: none;

}

 .date-label{
  position: relative;
   width:41px;
   bottom:140px;
   left:10px;
   font-size: 25px;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: normal;
   color:#539BB2;

 }
.bottom1{
  border:1px solid black;
  height: 200px;
  bottom: 400px;
}
.map-image img{
  width:45px;
  position: relative;
  left:5px;
 top: 0px;
}
.map{
  height: 100px;
  width:550px;
  position: relative;
  left:0px;
  top:20px;
  background-color: white;
  border: 1px solid #539BB2;
   border-radius: 5px 5px 0px 0px;
/*  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);
*/}

.date{
  height: 100px;
  width:550px;
  position: relative;
  left:80px;
  top:100px;
  border: 1px solid #539BB2;
  background-color: white;
   border-radius: 5px 5px 0px 0px;
/*  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);
*/
}
.kindof-meal{
    height: 100px;
  width:550px;
  position: relative;
  left:0px;
  top:10px;
  border: 1px solid #539BB2 ;
  border-radius: 5px 5px 0px 0px;
/*  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15), -1px 0px 0px rgba(0, 0, 0, 0.03), 1px 0px 0px rgba(0, 0, 0, 0.03), 0px 1px 0px rgba(0, 0, 0, 0.12);
*/
}
.calender img {
  width:40px;
  position: relative;
  top:10px;
  left:110px;
}
.clock img {
    width:60px;
  position: relative;
  bottom:40px;
  left:385px;
}
.map-icon img{
  width:45px;
  position: relative;
  top:-45px;
  right:20px;
}
.meal-icon img{
  width:45px;
  position: relative;
  bottom:0px;
}

.map-image h4{
  font-size: 16px;
  color:#292F33;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  top:-85px;
  left:50px;
}

.image_template8 img{
  width:50px;
  position: relative;
  bottom:10px;
  left:10px

}
#potlock_due_date_4i{
  position: relative;
    bottom: 50px;
    left:270px;
    font-size: 16px;
}
#potlock_due_date_5i{
    position: relative;
    bottom: 50px;
    left:260px;
    font-size: 16px;
}
.border{
 border: 1px solid #E1E8ED;
 left:150px;
 top:100px;
 width:800px;
 background-color: white;
}
