#bar{
  position: absolute;
  margin-top: 0px;
  width:100%;
  height: 44px;
  background-color:white;
  position: fixed;
  z-index: 10;
  background-color:#517FA4;
  box-shadow: 0px 1px 0px rgba(248, 140, 93, 0.29) inset, 0px 0px 0px rgba(248, 140, 93, 0.29) inset, 0px 1px 1px rgba(75, 58, 69, 0.25);
  }
  .log-out{
  font-size: 20px;
  float:right;
  color:rgba(248, 140, 93, 0.99);
  text-decoration: none;
  font-family:"Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  max-width:60%;
  padding:8px;
  text-indent: 12px; 
  margin-right:4%;
  margin-top: 0px;
 }

  .image_template2 img { 
  width:360px;
  border-radius: 10px;
  float:left;
  margin-top: 90px;
  margin-left:270px;
  border: 4px solid white;
}


.logo  {
  float:center;
  margin-top: 12px;
  max-width:10%;
  margin:auto;
}
.logo img {
width:60px;
margin-top: 08px
}
.email{
  
  height: 30px;
  width: 30%;
  text-align: center;
  margin-top: 260px;

}
.password {
  height: 30px;
  width: 30%;
  text-align: center;
  margin-top: 10px;

}
  
#new_user {
  text-align: center;
}

.Remeber-me{
  
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  text-align: center;
  margin-top: 10px;
  color: #34393D;
  opacity:0.5;
}
.btn.btn-default.submit {

   
   width:30%;
   text-align: center;
   background-color: #F8584E;
   font-family:  ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 15px;
  color: white;
}



.btn.btn-default.forgot_password_button {
	background-color: #F8584E;
	text-align: center;
	width:30%;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 15px;
  margin-top: 10px;
  color:white;
}
.btn.btn-default.sign-up{
	background-color: #F8584E;
	margin-top: 10px;
	width:30%;
	text-align: center;
  font-family:  ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  font-size: 15px;
  color:white;

}
.sign-up-link-log-in-link{

  float:right;
  font-size: 14px;
  position: relative;
  top:10px;
  right:30px;
  color:#F2514E;
  text-decoration: none;
  font-family:‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
.sign-up-link-log-in-link2{
    float:right;
  font-size: 14px;
  position: relative;
  top:10px;
  right:50px;
  color:#F2514E;
  text-decoration: none;
  font-family:‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

.potlock{
  font-size: 20px;
  margin-left: 200px;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
.form{
  position: relative;
  margin: auto;
   width: 400px;
   border-radius: 5px;
   right:250px;
   background-color:white;
   height:440px;
   top:500px;


}


.address{

  position: relative;
  color: #337AB7;
  width:50px;
  cursor: pointer;
  left:280px;
  font-size: 16px;
  top:300px;
}
.address:hover{
  color: #555459;
}

.map{
  margin-left: 200px;
 
}
.profile-icon img{
 width:300px;
  border-radius: 10px;
  float:left;
  margin-top: -330px;
  margin-left:2px;
}
.modal-header{
  background-color: rgba(248, 140, 93, 0.39);
}
.modal-footer{
    background-color: rgba(248, 140, 93, 0.39);
}
.modal-title{
  color:white;
}
.name{
  position: relative;
  margin-left: 280px;
  line-height: 1;
   color:black;
  font-size: 25px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  bottom: 150px;
}
.image-delete{
  position: relative;
  font-weight: 700;
  color:#337AB7;
  margin-left: 132px;
  bottom: 500px;
  font-size: 14px;
 
 }
 .map-icon img{

 
  position: relative;
  float:center;

  width:38px;
  cursor: pointer;
  top:-132px;
  left:330px;

  
  
 }
textarea.address-form{
position: relative;
 left: 100px; 
 top: 500px;
 width:300px;
  height: 40px;
  border: 1px solid white;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #F5F8FA;
 border: 1px solid #E1E8ED;
 resize:none;
 font-size: 25px;

}
textarea[placeholder] {
   font-family:"Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; 
   font-size: 14px;
  outline: none;

}
.calender-icon img{
 
   position: relative;
   width:34px;
   cursor: pointer;
   left:600px;
   margin-top: 10px

  
 }
 .date-label{
 
 position: relative;
   width:41px;
   cursor: pointer;
   top:500px;
   left:60px;
 
   color:#337AB7;
   font-size: 16px;

 }
.bottom1{
  border:1px solid black;
  height: 200px;
  bottom: 400px;
}
